{% extends 'index.html.twig' %}
{%block main %}
  {{page.content|raw}}

  <br><br>
Pour télécharer le document en matière de confidentialité et de cookies <a href='https://viamedo.fr/cgv.pdf' target='_blank'>cliquez ici</a>
  {% endblock %}
{% block sidebar %}
    

  {% endblock %}
