{% extends 'index.html.twig' %}
{%block main %}
  {{page.content|raw}}

  <br><br>
<div id="cookiefirst-policy-page"></div>
  <div>Cette déclaration de cookie a été créée et mise à jour par <a href="https://cookiefirst.com">CookieFirst.com</a>.</div>
  {% endblock %}
{% block sidebar %}
    

  {% endblock %}
