{% extends 'sidebar.html.twig' %}
{%block main %}
  {{page.content|raw}}
<div id="cookiefirst-policy-page"></div>
<div>Cette déclaration de cookie a été créée et mise à jour par
	<a href="https://cookiefirst.com">CookieFirst.com</a>.</div>

  <br><br>
Pour télécharer le document en matière de confidentialité et de cookies <a href='https://viamedo.fr/cgv.pdf' target='_blank'>cliquez ici</a>
  {% endblock %}
{% block sidebar %}
    

  {% endblock %}
