{% extends 'index.html.twig' %}

{%block main %}

Bienvenue ! pour avoir accès à toutes les pages, veuillez vous <img src='../pics/icons8-signin.svg' width='30px'><br> <a href='login'> connecter</a> ou vous <a href='register'>enregistrer.</a>

 {% endblock %}

{% block sidebar %}

{% endblock %}
