{% extends 'right-sidebar.html.twig' %}

{% block main %}
  <h1 class="h1">{{page.title}}</h1>
  <br>{{page.content|raw }}<br>
<div id="div_chart"></div>
<script src="hightcharts.js" type="text/javascript"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  {{ gc_draw(piechart, 'div_chart') }}
</script>
 {%endblock %}

{%block sidebar %}
  {%if user is defined%}
    {{user.pseudonyme}}, voici les statistiques de vos consommations sous forme graphique.

  {%endif %}
  {%endblock %}
