<h1>Hello ! Confirmez votre email !</h1>

<p>
    Confirmez votre email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
