<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>ViaMedo : Aide à la désaccoutumance de substances addictives</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app')}}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<meta name="description" content="Sur ViaMedo, on vous fait cette promesse : devenir qui vous voulez être.
						Et pour être tout à fait exact : devenir qui vous êtes.
						ViaMedo vous permet d'acquérir une conscience parfaite de votre consommation de substances de toute nature.
						Comme le disait le docteur Freud, Le moi n'est pas maître dans sa propre maison. "/>
		<meta name="robots" content="index, follow, max-snippet: -1, max-image-preview:large, max-video-preview: -1"/>


	</head>

	<body class="is-preload">
		{% block body %}
			<script src="https://consent.cookiefirst.com/banner.js" data-cookiefirst-key="32dc3080-1fd3-4c62-b58d-c0575164da94"></script>

			<div
				id="page-wrapper">
				<!-- Header -->
				<div
					id="header">
					<!-- Logo -->
					<h1 style="font-family: 'Sacramento', cursive !important;">
						<a href="page/home" id="logo" style="font-size: 65px !important;">
							ViaMedo
							<em>
								Votre moi idéal à portée de main</em>
						</a>
					</h1>
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li {% if slug is defined %} {% if slug is same as('home') %} class="current" {% endif %} {% endif %}>
								<a href="page/home">
									Accueil
								</a>
							</li>
							<li {% if slug is defined %} {% if slug is same as('infos') %} class="current" {% endif %} {% endif %}>

								<a href="page/infos">

									Informations
								</a>
							</li>
							<li {% if slug is defined %} {% if slug is same as('substances') %} class="current" {% endif %} {% endif %}>

								<a href="page/substances">

									Substances
								</a>
							</li>
							<li {% if slug is defined %} {% if slug is same as('videos') %} class="current" {% endif %} {% endif %}>
								<a href="page/videos">

									Vidéos
								</a>
							</li>
							<li {% if slug is defined %} {% if slug is same as('tips') %} class="current" {% endif %} {% endif %}>
								<a href="page/tips">

									Astuces
								</a>
							</li>
							<li {% if slug is defined %} {% if slug is same as('stats') %} class="current" {% endif %} {% endif %}>
								<a href="page/stats">

									Statistiques
								</a>
							</li>
							<li {% if slug is defined %} {% if slug is same as('historic') %} class="current" {% endif %} {% endif %}>
								<a href="page/historic">

									Historique
								</a>
							</li>
							<li {% if slug is defined %} {% if slug is same as('money') %} class="current" {% endif %} {% endif %}>
								<a href="page/money">

									Dépenses
								</a>
							</li>
							<li {% if slug is defined %} {% if slug is same as('goals') %} class="current" {% endif %} {% endif %}>
								<a href="page/goals">

									Objectifs
								</a>
							</li>
							<li {% if slug is defined %} {% if slug is same as('partenaires') %} class="current" {% endif %} {% endif %}>
								<a href="page/partenaires">

									Partenaires
								</a>
							</li>

							<li>
								<img src="../pics/icone.png" width="50px"  style="margin-left: '50px';">
							</li>
						</ul>
					</nav>
				</div>
				<!-- Banner -->
				<section id="banner">
					<header>


						<h2 class="h2" style="font-family: Source Sans Pro, sans-serif;">Votre nouvelle vie commence maintenant
						</h2>
						<a href="#knowMore" class="button">En savoir plus</a>


					</header>
				</section>
				<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major" id="knowMore">
							{% block main %}{% endblock %}
						</header>
					</div>
				</section>
				<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">
							{% block sidebar %}{% endblock %}<br>


						</header>
					</div>
				</section>

				<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Quelques liens utiles</h3>
								<ul class="links">
									<li>
										<a href='mailto:webmaster@viamedo.fr'>Contact</a>
									</li>
									<li>
										<a href="http://www.viamedo.fr/cgv.pdf" target="_blank">Confidentialité</a>
									</li>
									<li>
										<a href="http://viamedo.fr/cookies.html" target="_blank">Cookies</a>
									</li>
									<li>
										<a href="http://viamedo.fr/mentionlegales.html" target="_blank">Mentions légales</a>
									</li>

								</ul>
							</section>
							<section class="col-3 col-6-narrower col-12-mobilep">
								<h3>Autres liens utiles</h3>
								<ul class="links">
									<li>
										<a href="https://viamedo.fr/register/">Inscription</a>
									</li>
									<li>
										<a href="https://viamedo.fr/login/">Connexion</a>
									</li>
									<li>
										<a href="https://viamedo.fr/reset-password">Réinitialisez votre password</a>
									</li>
									<li>
										<a href="https://viamedo.fr/logout">Déconnexion</a>
									</li>

								</ul>
							</section>

						</div>
					</div>
					<!-- Icons -->
					<ul class="icons">
						<li>
							<a href="https://www.facebook.com/ViaMedo-102753971946564" class="icon brands fa-facebook-f">

								<span class="label">Facebook</span>
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/in/anto-mela/" class="icon brands fa-linkedin-in">
								<span class="label">LinkedIn</span>
							</a>
						</li>
						<li>
							<a href="https://www.patreon.com/viamedo" class="icon brands fa-patreon">
								<span class="label">Patreon</span>
							</a>
						</li>
					</ul>
					<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; 2021 - Antonu-Maria MELA. All rights reserved</li>
							<li>Design:
								<a href="http://html5up.net" target="_blank">HTML5 UP</a>
							</li>
						</ul>
					</div>
				</div>

			</div>

		{% endblock %}
	</body>
</html></body></html>
