{% extends 'index2.html.twig' %}


{% block main %}
Nous sommes ravis de vous voir aujourd'hui, comme dirait maître Yoda : "Que la force soit avec vous." <br>
{%if user is defined and user is not same as (null) %}

<strong><br><span class="alert alert-danger">Vous êtes désormais authentifié {{user.pseudonyme}}</span></strong><br>
{%else %}<br>
Vous avez attéri sur cette page parce que <br><br>
<ul>
<li>Il vous reste à cliquer sur l'email qui vous a été envoyé (si vous ne le trouvez pas regardez dans vos spams)</li>
</ul>
{% endif %}
{%endblock %}
