{% extends 'index2.html.twig' %}


{% block main %}
Nous sommes ravis de vous voir aujourd'hui, comme dirait maître Yoda : "Que la force soit avec vous." <br>
{%if user is defined %}
Vous êtes désormais authentifié {{user.username}}<br>
{%else %}
Vous avez attéri sur cette page parce que <br><br>
<ul>
<li>Soit vous êtes authentifié</li>
<li>Soit il vous reste à cliquer sur le mail qui vous a été envoyé</li>
</ul>
{% endif %}
{%endblock %}
